/* logined */
body {
    background-color:rgb(21, 108, 117) ;
}

.visitor>form>input {
    background-color:rgb(90, 170, 255);
    color:white;
    border:none;
    border-radius: 12px;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
}


/* section3 */
.section3{
    margin-top: 10px;
}

.row1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#userOption{
    width: fit-content;
    border: 0px solid gray;
    background-color: white;
    margin: 10px;
}

.userButton{
    border-bottom: 1px solid black;
}

#userDisplay{
    border: 0px solid gray;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infoCards{
    cursor: pointer;
}
.cardContainer{
    border: 0px solid gray;
    border-radius: 10px;
    background-color: lightslategrey;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}




.cardContent>div{
    margin-top: 10px;
    
}

.cardContainer:hover{
    text-decoration: none;
    color: initial;
}

.cardImage{
    max-width: 30%;
    height: auto;
    min-height: 140px;
    margin: 5px;
}
.cardImage>img{
    width: 100%;
    min-width: 100px;
    height: 130px;
    
}
.fas.fa-star{
    color: yellow;
}

.commentContainer{
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.donateRecord{
    width: 80%;
    border: 1px solid rgb(90, 170, 255);
    border-radius: 10px;
    
}