body {
    background-color:rgb(21, 108, 117) ;
}

h2{
    font-weight: bold;
}

.currency{
    font-size: 30px;
    font-weight: bold;
}

.up{
    font-size: 25px;
    color: forestgreen;
    margin-left: 30px;
}

.down{
    font-size: 25px;
    color: crimson;
    margin-left: 30px;
}

#Timestamp{
    margin-top: 10%;
}

.chart{
    background-color: white;
    margin-bottom: 10px;
    /*margin-left: 5%; */
}