/* logined */

.visitor>form>input {
    background-color:rgb(90, 170, 255);
    color:white;
    border:none;
    border-radius: 12px;
}

.userIcon>a>.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
}



/* section3 */
.exchangeDetails{
    display: flex;
    flex-wrap: wrap;
}

.exchangeDetails>div{
    margin: 10px;
}


.image{
    
    height: auto;
}
.image>img{
    max-width: 100%;
    height: auto;
}

.content{
    width: 100%;
    border: 1px  black;
    border-style: dotted;
}

.content>div{
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#save>button{
    border: none;
    cursor: pointer;
}

.cancel{
    background-color: yellow;
}

#title{
    margin-right: auto;
}

#rating{
    width: fit-content;
    border: 1px double black;
    border-radius: 10px;
    padding: 5px;
}

/* section4 */
.minibar{
    background-color:rgb(21, 108, 117) ;
    border: 0px solid black;
}

.minibar>ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    color: white;
}

li>a{
    color: white;
}

li>a:hover{
    text-decoration: none;
    color: inherit;
}


/* section5 */
.bg-white.pointer>td{
    padding: 10px;
}

/* section6 */
.commentButton{
    background-color: rgb(21, 108, 117);
}

.submitButton{
    background-color: rgb(21, 108, 117);
}

/* section7 */
.commentCard{
    border: 0px solid gray;
    background-color: gray;
}

.commentCard>div{
    margin: 5px;
}

.commentRow2{
    display: flex;
    justify-content: space-between;
}

.commentTitle{
    font-size: 18px;
    font-weight: 500;
}

.commentUser{
    font-size: 16px;
    font-weight: 400;
}

.commentDate{
    font-size: 14px;
}

.commentContent{
    font-size: 15px;
    background-color: transparent;
    line-height: 1.6;
    max-height: 120px;
    color: rgb(43, 61, 63)
}